@model CoGov.Models.Collective

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Collective</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatorUser.NameFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUser.NameFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicContactUser.NameFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicContactUser.NameFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemLedger.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemLedger.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Private)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Private)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowPublicJoin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowPublicJoin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
