@model IEnumerable<CoGov.Models.Collective>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorUser.NameFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicContactUser.NameFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemLedger.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Private)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowPublicJoin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorUser.NameFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicContactUser.NameFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemLedger.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Private)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowPublicJoin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
